.nav{
    width: 230px;
    height: calc(99% - 120px);
    position: fixed;

    margin-right: 10px;
}

.nav_a{
    display: block;

    padding: 8px 0 8px 0;
    text-align: center;

    text-decoration: none;
    color: white;
    font-size: 25px;
}

.nav_a:hover{
    background: white;
    color: #9ca8b9
}

.nav_a_margin-top_20px{
    margin-top: 20px;
}

.nav_a_margin-top_80px{
    margin-top: 80px;
}


