.dialogs-list{
    width: 300px;
    height: calc(99% - 120px);
    margin-right: 10px;

    position: fixed;

    overflow-y: auto;
    overflow-x: hidden;
}

.dialogs-list > div:last-child{
  margin-bottom: 0;
}

